/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  padding: 50px 160px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .04em;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  padding: 10px 16px;
  border: 1px solid #808080;
  line-height: 1em;
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 272px;
  margin-right: 8px;
  box-sizing: border-box;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:active,
#datetime-picker:focus {
  border-color: #4E75FF;
}

#datetime-picker:disabled {
  border-color: #808080;
  background-color: #FAFAFA;
  color: #808080;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 11px 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #6C8CFF;
}

button:disabled {
  color: #989898;
  background-color: #CFCFCF;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 400;
  color: #2E2F42;
}

.field .label {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: normal;
}

.form {
  margin: 50px auto;
  width: 360px;
  padding: 24px;
  border-radius: 8px;
}

.form label {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  letter-spacing: .04em;
}

.form input[type="number"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  display: block;
  line-height: 1.5em;
  letter-spacing: .04em;
  width: 100%;
  margin: 8px 0 16px;
  font-weight: 400;
  padding: 7px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
}

.form fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 48px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.form fieldset legend {
  margin-left: -28px;
}

.form input:hover,
.form textarea:hover,
.form fieldset:hover {
  outline: none;
  border-color: #000;
}

.form button {
  width: 100%;
}